
<div class='title'>
	<div>Connect Four</div>
</div>

<div>Black Count:</div>
<div id='black_count'>0</div>
<div>Red Count:</div>
<div id='red_count'>0</div>

<div class='board-container'>

	<button type='button' class='add_circle' id='0'>A</button>
	<button type='button' class='add_circle' id='1'>B</button>
	<button type='button' class='add_circle' id='2'>C</button>
	<button type='button' class='add_circle' id='3'>D</button>
	<button type='button' class='add_circle' id='4'>E</button>
	<button type='button' class='add_circle' id='5'>F</button>
	<button type='button' class='add_circle' id='6'>G</button>

	<div class='circle-container' id='circle-container'>

	</div>

		<% @counter = 35 %>
		<% for i in 0..5 %>
			<% for j in 0..6 %>
				<div class='square' id=<%= @counter.to_s %> >
				</div>
				<% @counter += 1 %>
				<% @counter -= 14 if @counter % 7 == 0 %>
			<% end %><br/>
		<% end %>
 
</div>
