
<div class='title'>
	<div>Connect Four</div>
</div>


<div class='board-container'>

	<button type='button' class='add_circle' id='0'>A</button>
	<button type='button' class='add_circle' id='1'>B</button>
	<button type='button' class='add_circle' id='2'>C</button>
	<button type='button' class='add_circle' id='3'>D</button>
	<button type='button' class='add_circle' id='4'>E</button>
	<button type='button' class='add_circle' id='5'>F</button>
	<button type='button' class='add_circle' id='6'>G</button>

<!-- 	<button type='button' id='column_C'>C</button>
	<button type='button' id='column_D'>D</button>
	<button type='button' id='column_E'>E</button>
	<button type='button' id='column_F'>F</button>
	<button type='button' id='column_G'>G</button>
 -->

	<div class='circle-container' id='circle-container'>
		

<!-- 		<div class='circle' id='column_A'>
		</div>
		<div class='circle' id='column_B'>
		</div>
		<div class='circle' id='column_C'>
		</div>
		<div class='circle' id='column_D'>
		</div>
		<div class='circle' id='column_E'>
		</div>
		<div class='circle' id='column_F'>
		</div>
		<div class='circle' id='column_G'>
		</div> -->
	</div>

		<% counter = 35 %>
		<% for i in 0..5 %>
			<% for j in 0..6 %>
				<div class='square' id='#{@counter}'>
				</div>
				<% counter += 1 %>
				<% counter -= 14 if counter % 7 == 0 %>
			<% end %><br/>
		<% end %>
 
</div>
