<!DOCTYPE html>
<html>
	<head>
		<title>Connect-Four</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sniglet">
		<link type="text/css" rel="stylesheet" href="./css/reset.css" />  
		<link type="text/css" rel="stylesheet" href="./css/style.css" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
		<script type="text/javascript" src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
 		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
		<script type="text/javascript" src="./javascript/javascript.js"></script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>

<script type="text/javascript">

  	$.ajaxSetup ({  
     	cache: false  
  	});

  	var circleCount = [0, 0, 0, 0, 0, 0, 0];
  	var count = 0;
	var turn = ['black', 'red'];    
	var randTurn = turn[Math.floor(Math.random() * turn.length)];
  	var currentTurn = turn[Math.floor(Math.random() * turn.length)];
	// console.log(randTurn)

	$(document).ready(function() {

		$('.container').fadeIn(400);

	  	$('.add_circle').on('click', function() {
	  		var currentColumn = this.id;
	  		count += 1;
	  		// console.log(this.id);
			switch(this.id) {
			    case '0': var column = 'column_A'; break;		    
			    case '1': var column = 'column_B'; break;		   
			    case '2': var column = 'column_C'; break;		    
			    case '3': var column = 'column_D'; break;		    
			    case '4': var column = 'column_E'; break;		    
			    case '5': var column = 'column_F'; break;		    
			    case '6': var column = 'column_G'; break;
			}
	  		if (circleCount[currentColumn] < 6) {
				var columnIdentifier = '#' + column;
				var classIdentifier = column;
				var circleNumber = circleCount[currentColumn];
				var circleColor = currentTurn;
				var circleIdentifier = 'new-circle';
				// console.log(circleIdentifier);
	  			var circleObject = "<div class='circle' id='" + column + "'></div>"
		 		$(circleObject).addClass(column).appendTo('#circle-container');
				circleCount[currentColumn] += 1;
				if (circleCount[currentColumn] == 6) {
					var buttonIdentifier = '#' + this.id;
					$(buttonIdentifier).fadeOut(100);
				};
		  		if (currentTurn == 'black') {
		  			$(columnIdentifier).addClass('color_black');
		  			$('.add_circle').removeClass('color_black').addClass('color_red');
		  			currentTurn = 'red';
		  		} else {
		  			$(columnIdentifier).addClass('color_red');
		  			$('.add_circle').removeClass('color_red').addClass('color_black');
		  			currentTurn = 'black';
		  		};
				$.post("/selected_circle",
					{
						mode: column,
						number: circleNumber,
						color: circleColor
					}, function(data) {
						$(columnIdentifier).css({
						  	'transition': 'margin-top, 0.5s',
						  	'margin-top': data
						}).addClass(classIdentifier).addClass(circleIdentifier).prop('id', circleIdentifier);
						if (circleColor == 'black') {
							$.post("/black_count", {}, function(data) {
								$('#black_count').text(data);
							}, 'text');
						} else {
							$.post("/red_count", {}, function(data) {
								$('#red_count').text(data);
							}, 'text');
						};
						if (count == 42) {
							$('.new-game-button').fadeIn(500);
						}
					},'text');
				// console.log(circleCount);
				// console.log(column);
	  		}; 
	  	});

	  	$('.new-game-button').on('click', function() {
	  		$('.new-game-button').fadeOut(200, function(){
	  			$('.button-container').css('transition', 'opacity, 0.5s');
	  			$('.button-container').css('opacity', '1');
	  			$('.add_circle').prop("disabled", false);

	  		});
	  		currentTurn = turn[Math.floor(Math.random() * turn.length)];
	  		if (currentTurn == 'black') {
	  			$('.add_circle').removeClass('color_black').addClass('color_red');
	  			currentTurn = 'red';
	  		} else {
	  			$('.add_circle').removeClass('color_red').addClass('color_black');
	  			currentTurn = 'black';
	  		};	  		
	  		circleCount = [0, 0, 0, 0, 0, 0, 0];
	  		count = 0;
			$('#black_count').text('0');
			$('#red_count').text('0');
			$('.new-circle').fadeOut(200, function() {
				$.each(['#0', '#1', '#2', '#3', '#4', '#5', '#6'], function(i, el) {
			    	$(el).fadeIn(200).css('display', 'inline-block');
				});  
				$('.new-circle').remove;
			});
			$.post("/new_game", {}, function(data) {
			},'text');
	  	});
	});

</script>

