
.title {
	text-align: center;
	margin-top: 20px;
}

.title div {
	font-size: 40px;
	font-weight: 500;
	font-family: Sniglet, sans-serif;
	word-spacing: 2px;
	letter-spacing: 0.4px;
	padding-top: 0px;
	padding-bottom: 55px;
	color: rgb(46, 106, 191);
	text-shadow: 1px 0px 0px #33377A;
}

.container {
	display: none;
	margin-top: 20px;
	border: 1px solid rgb(50, 50, 50);
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 8px 2px #dddddd;
	-moz-box-shadow: 5px 5px 8px 2px #dddddd;
	box-shadow: 5px 5px 8px 2px #dddddd;
	/*background-color: rgba(190, 127, 38, 0.18);*/

/*	background-color: rgba(169, 38, 190, 0.18);

	background-image: -webkit-linear-gradient(rgba(228, 218, 229, 0.09), rgba(145, 39, 181, 0.11));
	background-image: -o-linear-gradient(rgba(228, 218, 229, 0.09), rgba(145, 39, 181, 0.11));
    background-image: linear-gradient(rgba(228, 218, 229, 0.09), rgba(145, 39, 181, 0.11));
*/
}

.circle-container {
	border: 1px solid;
	border-color: transparent;
	width: 364px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: rgb(220, 220, 220);*/
}

.circle {
    /*background: rgb(10, 10, 10);*/
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -3px;
    position: absolute;
}

/*.circle:hover {
	transition: all, 0.5s;
	opacity: 1.0;
}*/

.board-container {
	/*background-color: rgb(200, 200, 200);*/
	text-align: center;
	margin-top: 40px;
	margin-left: 4px;
}

.grid-container {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding-left: 4px;
	padding-top: 4px;
	margin-top: -4px;
	padding-bottom: 2px;
}

.square {
	width: 50px;
	height: 50px;
	margin-bottom: -2px;
	border: 9px solid;
	border-color: rgba(104, 139, 190, 1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 10;
	border-radius: 28px;
	margin-right: 2px;
	margin-left: -5px;
	display: inline-block;
	/*background-color: rgba(34, 104, 220, 0.1);*/

/*	-webkit-box-shadow: 1px 1px 1px 1px rgba(140, 137, 137, 0.46);
	-moz-box-shadow: 1px 1px 1px 1px rgba(140, 137, 137, 0.46);
	box-shadow: 1px 1px 1px 1px rgba(140, 137, 137, 0.46);
*/
}


#column_A {
	margin-left: 5px;
}

#column_B {
	margin-left: 56px;
}

#column_C {
	margin-left: 107px;
}

#column_D {
	margin-left: 157px;
}

#column_E {
	margin-left: 208px;
}

#column_F {
	margin-left: 258px;
}

#column_G {
	margin-left: 309px;
}

.color_black {
	/*transition: all, 0.5s, ease-out;*/
 	background: #000000;
 	background: linear-gradient(#6E6E6E 0%, #000000 100%);
 	background: -webkit-linear-gradient(#6E6E6E 0%, #000000 100%);
 	background: -o-linear-gradient(#6E6E6E 0%, #000000 100%);
   	background: -o-linear-gradient(top, #6E6E6E 0%, #000000 100%);
    background: -ms-linear-gradient(top, #6E6E6E 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6E6E6E', endColorstr='#000000',GradientType=0 );
  	background: linear-gradient(top, #6E6E6E 0%, #000000 100%);
    z-index: -1 !important;
}

.color_red {
	/*transition: all, 0.5s, ease-out;*/
 	background: #95152C;
 	background: linear-gradient(#F95B6B 0%, #95152C 100%);
 	background: -webkit-linear-gradient(#F95B6B 0%, #95152C 100%);
 	background: -o-linear-gradient(#F95B6B 0%, #95152C 100%);
   	background: -o-linear-gradient(top, #F95B6B 0%, #95152C 100%);
    background: -ms-linear-gradient(top, #F95B6B 0%, #95152C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F95B6B', endColorstr='#95152C',GradientType=0 );
  	background: linear-gradient(top, #F95B6B 0%, #95152C 100%);
    z-index: -1 !important;
}

.column_A {
	margin-left: 5px;
}

.column_B {
	margin-left: 56px;
}

.column_C {
	margin-left: 107px;
}

.column_D {
	margin-left: 157px;
}

.column_E {
	margin-left: 208px;
}

.column_F {
	margin-left: 258px;
}

.column_G {
	margin-left: 309px;
}

.add_circle {
	border: 1px solid transparent;
	width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -45px;
    outline: none;
    position: absolute;
    z-index: 10 !important;
}

.add_circle:hover {
	border: 2px solid rgba(188, 118, 3, 1);
    border-radius: 52%;
}

.button-container {
	opacity: 0;
	border: 1px solid;
	border-color: transparent;
	margin-left: -364px;
/*	background-color: rgb(200, 200, 200);
*/	margin-top: -30px;
	margin-bottom: -44px;
}

.new-game-container {
	margin-top: -46px;
	position: absolute;
	display: inline-block;
	margin-left: -71px;
	z-index: 20;
}

.new-game-button {
	-moz-box-shadow: inset 0px 1px 0px 0px #efdcfb;
	-webkit-box-shadow: inset 0px 1px 0px 0px #efdcfb;
	box-shadow: inset 0px 1px 0px 0px #efdcfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfbdfa), color-stop(1, #bc80ea));
	background:-moz-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
	background: -webkit-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
	background: -o-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
	background: -ms-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
	background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfbdfa', endColorstr='#bc80ea',GradientType=0);
	background-color: #dfbdfa;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #c584f3;
	display: inline-block;
	color: #ffffff;
	font-family: Sniglet, sans-serif;
	font-size: 18px;
	padding: 6px 20px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #9752cc;
	outline: none;
	letter-spacing: 0.7px;
}

.new-game-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc80ea), color-stop(1, #dfbdfa));
	background: -moz-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
	background: -webkit-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
	background: -o-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
	background: -ms-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
	background: linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc80ea', endColorstr='#dfbdfa',GradientType=0);
	background-color: #bc80ea;
	cursor: default;
	outline: none;
}

.new-game-button:active {
	position: relative;
	top: 1px;
	outline: none;
}

#black-container {
	position: absolute;
	margin-left: 67px;
	text-align: center;
	margin-top: -230px;
}

#red-container {
	position: absolute;
	margin-left: 616px;
	text-align: center;
	margin-top: -228px;
}

#black_count_title {
	font-size: 30px;
	font-weight: 500;
	font-family: Sniglet, sans-serif;
	padding-bottom: 12px;
}

#red_count_title {
	font-size: 30px;
	font-weight: 500;
	font-family: Sniglet, sans-serif;
	padding-bottom: 12px;
	color: rgb(229, 39, 39);
}

#black_count {
	font-size: 45px;
	font-weight: 500;
	font-family: Sniglet, sans-serif;
}

#red_count {
	font-size: 45px;
	font-weight: 500;
	font-family: Sniglet, sans-serif;
	color: rgb(229, 39, 39);
}

.spacer {
	height: 30px;
}

